<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: menu"></div>
        <div class="col-sm-9">
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Detail Income</strong></a>
            <hr />

            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <a th:href="@{~/admin/income/list.abs}" class="btn btn-primary">Kembali</a>
                    <a th:href="@{~/admin/income/edit.abs(idIncome=${data.idIncome})}" class="btn btn-warning">Edit</a>
                    
                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">
                    Delete
                    </button>
                    <div th:replace="fragments :: modal-confirmation(@{~/admin/income/delete.abs(idIncome=${data.idIncome})}, ${data.idIncome})"> </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="date" class="col-sm-2 control-label">Tanggal</label>
                            <div class="col-sm-10">
                                <input th:value="${data.date.getString()}" type="text" class="form-control date" id="date" name="date" disabled="disabled" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Deskripsi</label>
                            <div class="col-sm-10">
                              <textarea th:text="${data.description.getString()}" class="form-control" id="description" name="description" disabled="disabled"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="amount" class="col-sm-2 control-label">Jumlah</label>
                            <div class="col-sm-10">
                                <input th:value="${data.amount}" type="number" class="form-control" id="amount" name="amount" disabled="disabled"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="idProgram" class="col-sm-2 control-label">Program</label>
                            <div class="col-sm-10">
                                <input th:value="${data.idProgram}" type="text" class="form-control" id="idProgram" name="idProgram" disabled="disabled"/>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="col-md-offset-6"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
