<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: menu"></div>
        <div class="col-sm-9">
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Ubah Pemasukan</strong></a>
            <hr />

            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <a th:href="@{~/admin/income/list.abs}" class="btn btn-primary">Kembali</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form class="form-horizontal" th:action="@{~/admin/income/update.abs}" method="post">
                        <input type="hidden" name="idIncome" th:value="${data.idIncome}" />

                        <div class="form-group">
                            <label for="date" class="col-sm-2 control-label">Nama</label>
                            <div class="col-sm-10">
                                <input th:value="${data.date.getString()}" type="text" class="form-control date" id="date" name="date" required="required" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Deskripsi</label>
                            <div class="col-sm-10">
                              <textarea th:text="${data.description.getString()}" class="form-control tinymce" id="description" name="description" ></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="amount" class="col-sm-2 control-label">Jumlah</label>
                            <div class="col-sm-10">
                                <input th:value="${data.amount}" type="number" class="form-control" id="amount" name="amount" required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="idProgram" class="col-sm-2 control-label">Program</label>
                            <div class="col-sm-10">
                                <input th:value="${data.idProgram}" type="text" class="form-control" id="idProgram" name="idProgram" required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="idCoa" class="col-sm-2 control-label">Chart of Account</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="idCoa" name="idCoa" required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-offset-6"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
