<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: menu"></div>
        <div class="col-sm-9">
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Detail Story Board</strong></a>
            <hr />

            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <a th:href="@{~/admin/story-board/list.abs}" class="btn btn-primary">Kembali</a>
                    <a th:href="@{~/admin/story-board/edit.abs(idStoryBoard=${data.idStoryBoard})}" class="btn btn-warning">Edit</a>
                    
                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">
                      Delete
                    </button>
                    <div th:replace="fragments :: modal-confirmation(@{~/admin/story-board/delete.abs(idStoryBoard=${data.idStoryBoard})}, ${data.idStoryBoard})"> </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Judul</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" name="title" th:value="${data.title.getString()}" disabled="disabled" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">Konten</label>
                            <div class="col-sm-10" th:utext="${data.content.getString()}" id="content">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="publishDate" class="col-sm-2 control-label">Tanggal publish</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control date" id="publishDate" name="publishDate" th:value="${data.publishDate.getString()}" disabled="disabled" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="thumbnailUrl" class="col-sm-2 control-label">URL Gambar</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="thumbnailUrl" name="thumbnailUrl" th:value="${data.thumbnailUrl.getString()}" disabled="disabled" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="idProgram" class="col-sm-2 control-label">Program</label>
                            <div class="col-sm-10">
                                <input th:value="${data.idProgram}" type="number" class="form-control" id="idProgram" name="idProgram" disabled="disabled"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-offset-6"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>