<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments :: head"></head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Story Board</strong></a>
                    <hr />

                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Judul</th>
                                        <th>Isi</th>
                                        <th>Tanggal Terbit</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="storyBoard : ${dataList}">
                                        <td th:text="${storyBoard.idStoryBoard}">1</td>
                                        <td th:text="${storyBoard.title.getString()}">Judul</td>
                                    <td th:text="${storyBoard.content.getString()}">Isi</td>
                                        <td th:text="${storyBoard.publishDate.getString()}">Publish Date</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>
