<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments :: head"></head>
	<body>
        <div th:replace="fragments :: navigation"></div>

        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments :: menu"></div>
                <div class="col-sm-9">
                    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Story Board</strong></a>
                    <hr />

                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <a th:href="@{~/admin/story-board/create.abs}" class="btn btn-primary">Buat Story Board</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Judul</th>
                                        <th>Tanggal Terbit</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="storyBoard : ${dataList}">
                                        <td th:text="${storyBoard.idStoryBoard}">1</td>
                                        <td><a th:text="${storyBoard.title.getString()}" th:href="@{~/admin/story-board/detail.abs(idStoryBoard=${storyBoard.idStoryBoard})}">Detail</a></td>
                                        <td th:text="${storyBoard.publishDate.getString()}">Publish Date</td>
                                        <td>
                                          
                                          <button class="btn btn-danger" data-toggle="modal" th:attr="data-target='#confirm-delete-'+${storyBoard.idStoryBoard}">
                                              Delete
                                            </button>
                                            <div th:replace="fragments :: modal-confirmation(@{~/admin/story-board/delete.abs(idStoryBoard=${storyBoard.idStoryBoard})}, ${storyBoard.idStoryBoard})"> </div>

                                            <a th:href="@{~/admin/story-board/edit.abs(idStoryBoard=${storyBoard.idStoryBoard})}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
	</body>
</html>