<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: menu"></div>
        <div class="col-sm-9">
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Ubah Program</strong></a>
            <hr />

            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <a th:href="@{~/admin/continuous-program/list.abs}" class="btn btn-primary">Kembali</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form class="form-horizontal" th:action="@{~/admin/continuous-program/update.abs}" method="post">
                        <input type="hidden" name="idContinuousProgram" th:value="${data.idContinuousProgram}" />

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Nama</label>
                            <div class="col-sm-10">
                                <input th:value="${data.name.getString()}" type="text" class="form-control" id="name" name="name" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Deskripsi</label>
                            <div class="col-sm-10">
                              <textarea class="form-control tinymce" id="description" name="description" th:text="${data.description.getString()}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="endDate" class="col-sm-2 control-label">Tanggal Selesai</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control date" id="endDate" name="endDate" th:value="${data.endDate.getString()}" required="required" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="partner" class="col-sm-2 control-label">Partner</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" id="partner" name="partner" th:text="${data.partner.getString()}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="target" class="col-sm-2 control-label">Target Program</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="target" name="target" th:value="${data.target.getString()}" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="logoUrl" class="col-sm-2 control-label">Logo URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="logoUrl" name="logoUrl" th:value="${data.logoUrl.getString()}" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-offset-6"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>