<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments :: head"></head>
	<body>
        <div th:replace="fragments :: navigation"></div>

        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments :: menu"></div>
                <div class="col-sm-9">
                    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Program</strong></a>
                    <hr />

                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <a th:href="@{~/admin/continuous-program/create.abs}" class="btn btn-primary btn-create">Buat Program</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nama</th>
                                        <th>Deskripsi</th>
                                        <th>Partner</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="continuousProgram : ${dataList}">
                                        <td th:text="${continuousProgram.idContinuousProgram}">1</td>
                                        <td><a th:text="${continuousProgram.name.getString()}" th:href="@{~/admin/continuous-program/detail.abs(idContinuousProgram=${continuousProgram.idContinuousProgram})}">Detail</a></td>
                                        <td th:text="${continuousProgram.description.getString()}">Description</td>
                                        <td th:text="${continuousProgram.partner.getString()}">Partner</td>
                                        <td>
                                          
                                          <button class="btn btn-danger" data-toggle="modal" th:attr="data-target='#confirm-delete-'+${continuousProgram.idContinuousProgram}">
                                              Delete
                                            </button>
                                            <div th:replace="fragments :: modal-confirmation(@{~/admin/continuous-program/delete.abs(idContinuousProgram=${continuousProgram.idContinuousProgram})}, ${continuousProgram.idContinuousProgram})"> </div>

                                            <a th:href="@{~/admin/continuous-program/edit.abs(idContinuousProgram=${continuousProgram.idContinuousProgram})}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
	</body>
</html>