<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments :: head"></head>
	<body>
        <div th:replace="fragments :: navigation"></div>

        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments :: menu"></div>
                <div class="col-sm-9">
                    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Produk</strong></a>
                    <hr />

                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <a th:href="@{~/admin/product/create.abs}" class="btn btn-primary btn-create">Buat Produk</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nama</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="product: ${dataList}">
                                        <td th:text="${product.idProduct}">1</td>
                                        <td><a th:text="${product.name.getString()}" th:href="@{~/admin/product/detail.abs(idProduct=${product.idProduct})}">Detail</a></td>
                                        <td>
                                          
                                          <button class="btn btn-danger" data-toggle="modal" th:attr="data-target='#confirm-delete-'+${product.idProduct}">
                                              Delete
                                            </button>
                                            <div th:replace="fragments :: modal-confirmation(@{~/admin/product/delete.abs(idProduct=${product.idProduct})}, ${product.idProduct})"> </div>

                                            <a th:href="@{~/admin/product/edit.abs(idProduct=${product.idProduct})}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
	</body>
</html>