<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: menu"></div>
        <div class="col-sm-9">
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Ubah Member Notification</strong></a>
            <hr />

            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <a th:href="@{~/admin/member-notification/list.abs}" class="btn btn-primary">Kembali</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form class="form-horizontal" th:action="@{~/admin/member-notification/update.abs}" method="post">
                        <input type="hidden" name="idMemberNotification" th:value="${data.idMemberNotification}" />

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Judul</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" name="title" th:value="${data.title.getString()}" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">Konten</label>
                            <div class="col-sm-10">
                                <textarea class="form-control tinymce" id="content" name="content" th:text="${data.content.getString()}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="publishDate" class="col-sm-2 control-label">Tanggal publish</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control date" id="publishDate" name="publishDate" th:value="${data.publishDate.getString()}" required="required" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="thumbnailUrl" class="col-sm-2 control-label">URL Gambar</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="thumbnailUrl" name="thumbnailUrl" th:value="${data.thumbnailUrl.getString()}" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="idDonor" class="col-sm-2 control-label">Donor</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="idDonor" name="idDonor" th:value="${data.idDonor}" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-offset-6"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>