<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments :: head"></head>
	<body>
        <div th:replace="fragments :: navigation"></div>

        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments :: menu"></div>
                <div class="col-sm-9">
                    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Member Notification</strong></a>
                    <hr />

                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <a th:href="@{~/admin/member-notification/create.abs}" class="btn btn-primary">Buat Member Notification</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Judul</th>
                                        <th>Tanggal Terbit</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="memberNotification : ${dataList}">
                                        <td th:text="${memberNotification.idMemberNotification}">1</td>
                                        <td><a th:text="${memberNotification.title.getString()}" th:href="@{~/admin/member-notification/detail.abs(idMemberNotification=${memberNotification.idMemberNotification})}">Detail</a></td>
                                        <td th:text="${memberNotification.publishDate.getString()}">Publish Date</td>
                                        <td>
                                          
                                          <button class="btn btn-danger" data-toggle="modal" th:attr="data-target='#confirm-delete-'+${memberNotification.idMemberNotification}">
                                              Delete
                                            </button>
                                            <div th:replace="fragments :: modal-confirmation(@{~/admin/member-notification/delete.abs(idMemberNotification=${memberNotification.idMemberNotification})}, ${memberNotification.idMemberNotification})"> </div>

                                            <a th:href="@{~/admin/member-notification/edit.abs(idMemberNotification=${memberNotification.idMemberNotification})}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
	</body>
</html>