<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments :: head"></head>
	<body>
        <div th:replace="fragments :: navigation"></div>

        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments :: menu"></div>
                <div class="col-sm-9">
                    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Neraca (Posisi Keuangan)</strong></a>
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Jumlah</th>
                                        <th>COA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="income : ${dataList}">
                                        <td th:text="${income.amount}">Amount</td>
                                        <td th:text="${income.coa}">COA</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
	</body>
</html>
