<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: menu"></div>
        <div class="col-sm-9">
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Ubah Laporan</strong></a>
            <hr />

            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <a th:href="@{~/admin/money-donation/list.abs}" class="btn btn-primary">Kembali</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form class="form-horizontal" th:action="@{~/admin/money-donation/update.abs}" method="post">
                        <input type="hidden" name="idMoneyDonation" th:value="${data.idMoneyDonation}" />

                        <div class="form-group">
                            <label for="accountNumber" class="col-sm-2 control-label">Nomor Rekening</label>
                            <div class="col-sm-10">
                                <input th:value="${data.accountNumber.getString()}" type="text" class="form-control" id="accountNumber" name="accountNumber" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-sm-2 control-label">Jumlah Barang</label>
                            <div class="col-sm-10">
                                <input th:value="${data.amount}" type="text" class="form-control" id="amount" name="amount" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="idProgram" class="col-sm-2 control-label">Program</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="idProgram" name="idProgram" th:value="${data.idProgram}" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-offset-6"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>