<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments :: head"></head>
	<body>
        <div th:replace="fragments :: navigation"></div>

        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments :: menu"></div>
                <div class="col-sm-9">
                    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Money</strong></a>
                    <hr />

                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <a th:href="@{~/admin/money-donation/create.abs}" class="btn btn-primary btn-create">Buat Laporan</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Account Number</th>
                                        <th>Jumlah</th>
                                        <th>Program</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="moneyDonation : ${dataList}">
                                        <td th:text="${moneyDonation.idMoneyDonation}">1</td>
                                        <td><a th:text="${moneyDonation.accountNumber.getString()}" th:href="@{~/admin/money-donation/detail.abs(idMoneyDonation=${moneyDonation.idMoneyDonation})}">Detail</a></td>
                                        <td th:text="${moneyDonation.amount}">Jumlah</td>
                                        <td th:text="${moneyDonation.idProgram}">Program</td>
                                        <td>
                                          
                                          <button class="btn btn-danger" data-toggle="modal" th:attr="data-target='#confirm-delete-'+${moneyDonation.idMoneyDonation}">
                                              Delete
                                            </button>
                                            <div th:replace="fragments :: modal-confirmation(@{~/admin/money-donation/delete.abs(idMoneyDonation=${moneyDonation.idMoneyDonation})}, ${moneyDonation.idMoneyDonation})"> </div>

                                            <a th:href="@{~/admin/money-donation/edit.abs(idMoneyDonation=${moneyDonation.idMoneyDonation})}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
	</body>
</html>
