<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: menu"></div>
        <div class="col-sm-9">
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Detail Institusi Penerima</strong></a>
            <hr />

            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <a href="/admin/institutional-beneficiary/list.abs" class="btn btn-primary">Kembali</a>
                    <a th:href="@{~/admin/institutional-beneficiary/edit.abs(idInstitutionalBeneficiary=${data.idInstitutionalBeneficiary})}" class="btn btn-warning btn-edit">Edit</a>
                    
                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">
                      Delete
                    </button>
                    <div th:replace="fragments :: modal-confirmation(@{~/admin/institutional-beneficiary/delete.abs(idInstitutionalBeneficiary=${data.idInstitutionalBeneficiary})}, ${data.idInstitutionalBeneficiary})"> </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Nama</label>
                            <div class="col-sm-10">
                                <input th:value="${data.name.getString()}" type="text" class="form-control" id="name" name="name" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="email" name="email" th:value="${data.email.getString()}" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">Nomor Telepon</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" name="phone" th:value="${data.phone.getString()}" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">Alamat</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" id="address" name="address" th:value="${data.address.getString()}" disabled="disabled"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-offset-6"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>