<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: menu"></div>
        <div class="col-sm-9">
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Ubah Institusi Penerima</strong></a>
            <hr />

            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <a th:href="@{~/admin/institutional-beneficiary/list.abs}" class="btn btn-primary">Kembali</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form class="form-horizontal" th:action="@{~/admin/institutional-beneficiary/update.abs}" method="post">
											<textarea type="hidden" name="idInstitutionalBeneficiary" th:text="${data.idInstitutionalBeneficiary}"></textarea>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Nama</label>
                            <div class="col-sm-10">
                                <input th:value="${data.name.getString()}" type="text" class="form-control" id="name" name="name" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="email" name="email" th:value="${data.email.getString()}" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">Nomor Telepon</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" name="phone" th:value="${data.phone.getString()}" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">Alamat</label>
                            <div class="col-sm-10">
															<textarea class="form-control" id="address" name="address" th:text="${data.address.getString()}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-offset-6"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>