<head th:fragment="head">
    <title>Admin</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link th:href="${requestContextPath + '/css/bootstrap.min.css'}" href="/css/bootstrap.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link th:href="${requestContextPath + '/css/styles.css'}" href="/css/styles.css" rel="stylesheet" />
</head>

<head th:fragment="head_fuki">
  <title>AISCO Product</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- <link th:href="${requestContextPath + '/css/bootstrap.min.css'}" href="/css/bootstrap.min.css" rel="stylesheet"/> -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- <link th:href="${requestContextPath + '/css/styles.css'}" href="/css/styles.css" rel="stylesheet"/> -->
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"></link>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"></link>
  <link rel="stylesheet" type="text/css" href="https://fuki.cs.ui.ac.id/static/web/css/MyFontsWebfontsKit.879565629043.css"></link>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
  <!-- <link href="https://fuki.cs.ui.ac.id/static/web/css/style.f81b7a14ab64.css" rel="stylesheet"></link> -->
  <link th:href="${requestContextPath + '/css/head.css'}" href="/css/head.css" rel="stylesheet" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

  <script>
    $(document).ready(function() {
      $('a[href*=\\#]').on('click', function(e){
        e.preventDefault();
        $('html, body').animate({
          scrollTop : $(this.hash).offset().top
        }, 500);
      });

      $("div[id]").css("min-height", $(window).height() + "px");
      $("#contact").css("min-height", 250 + "px");
    });
  </script>

</head>



<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{~/admin/program/list.abs}">Dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" th:href="@{~/admin/program/list.abs}" th:text="${userEmail}"> Admin </a>
                </li>
                <li><a th:href="${requestContextPath + '/logout'}"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<!-- header login -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top" th:fragment="navigation-login">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{~/admin/program/list.abs}">Login</a>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header login -->

<div class="col-sm-3" th:fragment="menu" style="min-height: 600px;">
    <!-- Left column -->
    <a th:href="@{~/admin/program/list.abs}"><strong><i class="glyphicon glyphicon-menu-hamburger" /> Menu</strong></a>

    <hr />

    <ul class="nav nav-stacked">
      <li th:if="${
        (viewModel.get('expense') == 1)||
        (viewModel.get('income') == 1)||
        (viewModel.get('summary') == 1)||
        (viewModel.get('automatic_report') == 1)||
        (viewModel.get('donor') == 1)||
        (viewModel.get('balance_sheet') == 1)
        }" class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#financial-report-menu">Financial Report <i class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="nav nav-stacked collapse" id="financial-report-menu">
                <li th:if="${(viewModel.get('expense') == 1)}"><a th:href="@{~/admin/expense/list.abs}"><i class="glyphicon glyphicon-minus"></i> Expense</a></li>
                <li th:if="${(viewModel.get('income') == 1)}"><a th:href="@{~/admin/income/list.abs}"><i class="glyphicon glyphicon-minus"></i>Income</a></li>
                <li th:if="${(viewModel.get('summary') == 1)}"><a th:href="@{~/admin/summary/list.abs}"><i class="glyphicon glyphicon-minus"></i>Summary</a></li>
                <li th:if="${(viewModel.get('automatic_report') == 1)}"><a th:href="@{~/admin/automatic-report/list.abs}"><i class="glyphicon glyphicon-minus"></i>Automatic Report</a></li>
                <li th:if="${(viewModel.get('donor') == 1)}"><a th:href="@{~/admin/donor/list.abs}"><i class="glyphicon glyphicon-minus"></i>Donor</a></li>
                <li th:if="${(viewModel.get('balance_sheet') == 1)}"><a th:href="@{~/admin/balance-sheet/list.abs}"><i class="glyphicon glyphicon-minus"></i>Balance Sheet</a></li>
            </ul>
        </li>
        <li th:if="${
        (viewModel.get('story_board') == 1)||
        (viewModel.get('member_notification') == 1)
        }" class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#publication-menu"> Publication <i class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="nav nav-stacked collapse" id="publication-menu">
                <li th:if="${(viewModel.get('story_board') == 1)}"><a th:href="@{~/admin/story-board/list.abs}"><i class="glyphicon glyphicon-minus"></i>Story Board</a></li>
                <li th:if="${(viewModel.get('member_notification') == 1)}"><a th:href="@{~/admin/member-notification/list.abs}"><i class="glyphicon glyphicon-minus"></i>Member Notification</a></li>
            </ul>
        </li>
        <li th:if="${
        (viewModel.get('money') == 1)||
        (viewModel.get('item') == 1)||
        (viewModel.get('confirmation') == 1)
        }" class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#donation-menu"> Donation <i class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="nav nav-stacked collapse" id="donation-menu">
                <li th:if="${(viewModel.get('money') == 1)}"><a th:href="@{~/admin/money-donation/list.abs}"><i class="glyphicon glyphicon-minus"></i>Money Donation</a></li>
                <li th:if="${(viewModel.get('item') == 1)}"><a th:href="@{~/admin/item-donation/list.abs}"><i class="glyphicon glyphicon-minus"></i>Item Donation</a></li>
                <li th:if="${(viewModel.get('confirmation') == 1)}"><a th:href="@{~/admin/confirmation/list.abs}"><i class="glyphicon glyphicon-minus"></i>Confirmation</a></li>
            </ul>
        </li>
        <li th:if="${
        (viewModel.get('program') == 1)||
        (viewModel.get('program_data') == 1)||
        (viewModel.get('continuous') == 1)||
        (viewModel.get('eventual') == 1)
        }" class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#program-menu"> Program <i class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="nav nav-stacked collapse" id="program-menu">
                <li th:if="${(viewModel.get('program') == 1)}"><a th:href="@{~/admin/program/list.abs}"><i class="glyphicon glyphicon-minus"></i>Program</a></li>
                <li th:if="${(viewModel.get('program_data') == 1)}"><a th:href="@{~/admin/program/list.abs}"><i class="glyphicon glyphicon-minus"></i>Program Data</a></li>
                <li th:if="${(viewModel.get('continuous') == 1)}"><a th:href="@{~/admin/continuous-program/list.abs}"><i class="glyphicon glyphicon-minus"></i>Continuous Program</a></li>
                <li th:if="${(viewModel.get('eventual') == 1)}"><a th:href="@{~/admin/event/list.abs}"><i class="glyphicon glyphicon-minus"></i>Eventual</a></li>
            </ul>
        </li>
        <li th:if="${
        (viewModel.get('institutional_beneficiary') == 1)||
        (viewModel.get('individual_beneficiary') == 1)||
        (viewModel.get('product_aisco') == 1)
        }" class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#beneficiary-menu"> Target <i class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="nav nav-stacked collapse" id="beneficiary-menu">
                <li th:if="${(viewModel.get('institutional_beneficiary') == 1)}"><a th:href="@{~/admin/institutional-beneficiary/list.abs}"><i class="glyphicon glyphicon-minus"></i>Institutional Beneficiary</a></li>
                <li th:if="${(viewModel.get('individual_beneficiary') == 1)}"><a th:href="@{~/admin/individual-beneficiary/list.abs}"><i class="glyphicon glyphicon-minus"></i>Individual Beneficiary</a></li>
                <li th:if="${(viewModel.get('product_aisco') == 1)}"><a th:href="@{~/admin/product/list.abs}"><i class="glyphicon glyphicon-minus"></i>Product</a></li>
            </ul>
        </li>
    </ul>

    <hr />
</div>

<!-- Confirmation Modal -->
<div class="modal fade" th:id="'confirm-delete-' + ${id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" th:fragment="modal-confirmation(link,id)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Delete Confirmation
      </div>
      <div class="modal-body">
        Are you sure want to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a th:href="${link}" class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>
<!-- /Confirmation Modal -->

<!-- PSAK Field -->
<div th:id="'psak-fields'" th:fragment="psak-fields">
  <div class="form-group">
    <label for="idCoa" class="col-sm-2 control-label">COA</label>
    <div class="col-sm-10">
      <select id="idCoa" name="idCoa" class="form-control">
        <option value="1">1.Aktiva Lancar</option>
        <option value="11">1.1.Kas</option>
        <option value="1101">1.1.01.Rekening di Bank Mandiri Tebet</option>
        <option value="1102">1.1.02.Rekening di Bank Bukopin Cawang</option>
        <option value="1103">1.1.03.Uang kas</option>
        <option value="12">1.2.Tagihan atau Piutang</option>
        <option value="1201">1.2.01.Tagihan Komitmen Donor A</option>
        <option value="1202">1.2.02.Tagihan komitmen Donor X</option>
        <option value="1203">1.2.03.Tagihan komitmen Donor Y</option>
        <option value="13">1.3.Persediaan</option>
        <option value="1301">1.3.01.Persediaan alat kantor</option>
        <option value="14">1.4.Uang Muka</option>
        <option value="1401">1.4.01.Uang muka perjalanan Amir</option>
        <option value="1402">1.4.02.Uang muka perjalanan Asmana</option>
        <option value="1403">1.4.03.Uang muka perjalanan Kartono</option>
        <option value="2">2.Aktiva Tetap</option>
        <option value="21">2.1.Komputer</option>
        <option value="2101">2.1.01.Laptop</option>
        <option value="2102">2.1.02.Desktop</option>
        <option value="2103">2.1.03.Printer</option>
        <option value="2104">2.1.04.Kamera digital</option>
        <option value="222">2.22.Furniture</option>
        <option value="2201">2.2.01.Perabot dari kayu</option>
        <option value="2202">2.2.02.Perabot dari besi</option>
        <option value="2203">2.2.03.Perabot lain</option>
        <option value="23">2.3.Kendaraan bermotor</option>
        <option value="2301">2.3.01.Mobil box</option>
        <option value="2302">2.3.02.Sepeda motor</option>
        <option value="24">2.4.Tanah dan bangunan</option>
        <option value="2401">2.4.01.Bangunan Kantor</option>
        <option value="2402">2.4.02.Gedung Panti Asuhan</option>
        <option value="3">3.Hutang</option>
        <option value="31">3.1.Hutang ke supplier</option>
        <option value="3101">3.1.01.Hutang listrik</option>
        <option value="3102">3.1.02.Hutang telpon</option>
        <option value="3103">3.1.03.Hutang PAM</option>
        <option value="32">3.2.Hutang lain</option>
        <option value="4">4.Aktiva Bersih</option>
        <option value="41">4.1.Aktiva bersih tahun berjalan</option>
        <option value="42">4.2.Aktiva bersih akumulatif</option>
        <option value="5">5.Pendapatan</option>
      </select>
    </div>
  </div>
</div>
<!-- /PSAK Field -->

<!-- PSAK Column -->

<!-- /PSAK Column -->

<footer class="text-center" th:fragment="footer">
    This Bootstrap 3 dashboard layout is compliments of <a href="http://www.bootply.com/85850"><strong>Bootply.com</strong></a>
    <!-- script references -->

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5848230fae175a94"></script>
    <script th:src="${requestContextPath + '/js/jquery.min.js'}" src="/js/jquery.min.js"></script>
    <script th:src="${requestContextPath + '/js/bootstrap.min.js'}" src="/js/bootstrap.min.js"></script>
    <script th:src="${requestContextPath + '/js/tinymce/tinymce.min.js'}" src="/js/scripts.js"></script>
    <script th:src="${requestContextPath + '/js/scripts.js'}" src="/js/scripts.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <script charset="utf-8">
      $('.date').datepicker({
          format: 'mm-dd-yyyy',
      }); 
    </script>
</footer>

<div th:fragment="share-button">
    <div class="addthis_inline_share_toolbox"></div>
</div>
