<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments :: head"></head>
	<body>
        <div th:replace="fragments :: navigation"></div>

        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments :: menu"></div>
                <div class="col-sm-9">
                    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Item</strong></a>
                    <hr />

                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <a th:href="@{~/admin/item-donation/create.abs}" class="btn btn-primary btn-create">Donasi</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nama Barang</th>
                                        <th>Jumlah Barang</th>
                                        <th>Program</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="itemDonation : ${dataList}">
                                        <td th:text="${itemDonation.idItemDonation}">1</td>
                                        <td><a th:text="${itemDonation.itemName.getString()}" th:href="@{~/admin/item-donation/detail.abs(idItemDonation=${itemDonation.idItemDonation})}">Detail</a></td>
                                        <td th:text="${itemDonation.quantity}">Jumlah</td>
                                        <td th:text="${itemDonation.idProgram}">Program</td>
                                        <td>
                                          
                                          <button class="btn btn-danger" data-toggle="modal" th:attr="data-target='#confirm-delete-'+${itemDonation.idItemDonation}">
                                              Delete
                                            </button>
                                            <div th:replace="fragments :: modal-confirmation(@{~/admin/item-donation/delete.abs(idItemDonation=${itemDonation.idItemDonation})}, ${itemDonation.idItemDonation})"> </div>

                                            <a th:href="@{~/admin/item-donation/edit.abs(idItemDonation=${itemDonation.idItemDonation})}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
	</body>
</html>
