<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments :: head"></head>
	<body>
        <div th:replace="fragments :: navigation"></div>
        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments :: menu"></div>
                <div class="col-sm-9">
                    <a href="#">
                        <strong>
                            <i class="glyphicon glyphicon-dashboard"></i> Chart of Account
                        </strong>
                    </a>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Kode Akun</th>
                                        <th>Nama</th>
                                        <th>Jumlah</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:classappend="'level'+${chartOfAccountEntry.level}" th:each="chartOfAccountEntry : ${dataList}">
                                        <td th:style="'padding-left: '+${chartOfAccountEntry.level}+'0px;'" th:text="${chartOfAccountEntry.idChartOfAccount}">1</td>
                                        <td th:text="${chartOfAccountEntry.name.getString()}">Nama</td>
                                        <td th:text="${chartOfAccountEntry.amount}">Jumlah</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments :: footer"></footer>
	</body>
</html>