<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: menu"></div>
        <div class="col-sm-9">
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Detail Event</strong></a>
            <hr />

            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <a href="/admin/event/list.abs" class="btn btn-primary">Kembali</a>
                    <a th:href="@{~/admin/event/edit.abs(idEvent=${data.idEvent})}" class="btn btn-warning btn-edit">Edit</a>
                    
                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">
                      Delete
                    </button>
                    <div th:replace="fragments :: modal-confirmation(@{~/admin/event/delete.abs(idEvent=${data.idEvent})}, ${data.idEvent})"> </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Nama</label>
                            <div class="col-sm-10">
                                <input th:value="${data.name.getString()}" type="text" class="form-control" id="name" name="name" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Deskripsi</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" id="description" name="description" th:value="${data.description.getString()}" disabled="disabled"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date" class="col-sm-2 control-label">Tanggal</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control date" id="date" name="date" th:value="${data.date.getString()}" disabled="disabled" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="partner" class="col-sm-2 control-label">Partner</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="partner" name="partner" th:value="${data.partner.getString()}" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="target" class="col-sm-2 control-label">Target Event</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="target" name="target" th:value="${data.target.getString()}" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Logo URL</label>
                            <div class="col-sm-10">
                                <img th:src="${data.logoUrl.getString()}" class="img-thumbnail"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-offset-6"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
