<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments :: head"></head>
	<body>
        <div th:replace="fragments :: navigation"></div>

        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments :: menu"></div>
                <div class="col-sm-9">
                    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Event</strong></a>
                    <hr />

                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <a th:href="@{~/admin/event/create.abs}" class="btn btn-primary btn-create">Buat Event</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nama</th>
                                        <th>Deskripsi</th>
                                        <th>Tanggal</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="event : ${dataList}">
                                        <td th:text="${event.idEvent}">1</td>
                                        <td><a th:text="${event.name.getString()}" th:href="@{~/admin/event/detail.abs(idEvent=${event.idEvent})}">Detail</a></td>
                                        <td th:text="${event.description.getString()}">Description</td>
                                        <td th:text="${event.date.getString()}">Tanggal</td>
                                        <td>
                                          
                                          <button class="btn btn-danger" data-toggle="modal" th:attr="data-target='#confirm-delete-'+${event.idEvent}">
                                              Delete
                                            </button>
                                            <div th:replace="fragments :: modal-confirmation(@{~/admin/event/delete.abs(idEvent=${event.idEvent})}, ${event.idEvent})"> </div>

                                            <a th:href="@{~/admin/event/edit.abs(idEvent=${event.idEvent})}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
	</body>
</html>